<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="HOST" value="localhost"/>
      <add key="PORT" value="11000"/>
      <add key="BACKLOG" value="10"/>
      <add key="BUFFER" value="1024"/>
      <add key="STOPMSG" value="Server stoped."/>
      <add key="TIMEOUT" value="10000"/>
      
      <add key="CREATEDB" value="CRT DB"/>
      <add key="CREATETABLE" value="CRT TB"/>
      <add key="DROPTABLE" value="DRP DB"/>
      <add key="DROPTABLE" value="DRP TB"/>
      <add key="USEDB" value="USE DB"/>

      <add key="TABLECONTENT" value="TableContent"/>
      <add key="TABLEMETA" value="TableStructure"/>
      <add key="CONTENT" value="Content"/>
    </appSettings>
</configuration>