<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="HOST" value="localhost" />
    <add key="PORT" value="11000" />
    <add key="BACKLOG" value="10" />
    <add key="BUFFER" value="1024" />
    <add key="STOP_MSG" value="Server stoped." />
    <add key="START_MSG" value="Server started. Press any key to stop it." />
    <add key="TIMEOUT" value="10000" />
    <add key="CREATE_DB" value="CRT DB" />
    <add key="DROP_DB" value="DRP DB" />
    <add key="USE_DB" value="USE DB" />
    <add key="CREATE_TABLE" value="CRT TB" />
    <add key="DROP_TABLE" value="DRP TB" />
    <add key="INSERT_CONTENT" value="INS TB" />
    <add key="GET_CONTENT" value="GET TB" />
    <add key="OK_MSG" value="*** DONE ***" />
    <add key="TABLE_CONTENT" value="TableContent" />
    <add key="TABLE_META" value="TableStructure" />
    <add key="CONTENT_FOLDER" value="Content" />
    <add key="INTEGER" value="INT" />
    <add key="STRING" value="STR" />
    <add key="DOUBLE" value="DOUB" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>